<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">





    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectDM"
        tools:targetApi="31">

        <!-- Actividad principal -->
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:label="@string/menu_principal"
            android:theme="@style/Theme.ProjectDM">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Seleccionar Modo -->
        <activity
            android:name=".ModeSelectionActivity"
            android:exported="true"
            android:label="@string/seleccionar_modo"
            android:theme="@style/Theme.ProjectDM">
        </activity>

        <!-- Modo Viajero -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/modo_viajero"
            android:theme="@style/Theme.ProjectDM">
        </activity>

        <!-- Modo Transportista -->
<!--        <activity-->
<!--            android:name=".TransportActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/modo_transportista"-->
<!--            android:theme="@style/Theme.ProjectDM">-->
<!--        </activity>-->
        <!-- Configuración específica de OSMDroid (opcional si deseas usar almacenamiento) -->

        <!-- InfoActivity -->
        <activity
            android:name=".InfoAlgorithm"
            android:exported="true"
            android:label="@string/info_activity"
            android:theme="@style/Theme.ProjectDM">
        </activity>

        <!-- Minijuego -->
        <activity
            android:name=".Minigame2DActivity"
            android:exported="true"
            android:label="@string/minigame_label"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.ProjectDM">
        </activity>

        <meta-data
            android:name="osmdroid.basePath"
            android:value="osmdroid" />
        <meta-data
            android:name="osmdroid.cachePath"
            android:value="osmdroid/cache" />



    </application>



</manifest>
